[*]
ij_any_catch_on_new_line = true
ij_any_finally_on_new_line = true
ij_any_else_on_new_line = true
ij_continuation_indent_size = 4
max_line_length = 200


[{*.kt,*.kts}]
indent_size = 4
tab_width = 4

# see https://pinterest.github.io/ktlint/rules/configuration-ktlint/#trailing-comma-on-declaration-site
# Only used for declaration site
ij_kotlin_allow_trailing_comma = false

# see https://pinterest.github.io/ktlint/rules/configuration-ktlint/#trailing-comma-on-call-site
ij_kotlin_allow_trailing_comma_on_call_site = false

ij_kotlin_continuation_indent_size = 4

max_line_length = off

ij_any_catch_on_new_line = true
ij_any_finally_on_new_line = true
ij_any_else_on_new_line = true

ktlint_standard_indent = disabled

ktlint_code_style = intellij_idea
